/*body{
	background-color: rgba(255, 255, 255, 0.3);
}


.side-text-carousel{
	background-color: rgba(1,1,1, 0.1);
	height: 400px;
	padding: 2em;
}

.side-text-carousel h3{
	margin-top: 0px;
}

#carousel-example-generic img{
	max-height: 400px;
	width: 100%;
}

#carousel-example-generic h3 p{
	
	background-color: black;
}

.btn-group
{
	width: 100%;
}

.btn-days
{
	width: 14.34%;
}

.main-manu{

}

.btn-glavni-menu
{
	width: 14.34%;
}

li {list-style-type: none;}*/

p{

	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;

}